<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div class="container mt-5">
    <div class="row">
        <div class="col">

            <h2> Employers</h2>
        </div>
        <div class="col">
            <a class="btn btn-small btn-primary float-right" href="/employer/new">Add New Employer</a>
        </div>
    </div>
    <table class="table table-hover table-sm  m-5">
        <thead>
        <tr>
            <th>#</th>
            <th>NAME</th>
            <th>BIRTHDAY</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employer: ${employers}">
            <td th:text="${employer.id}"></td>
            <td th:text="${employer.name}"></td>
            <td th:text="${employer.birthday}"></td>
            <td th:text="${employer.phone}"></td>
            <td th:text="${employer.email}"></td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
<!--                    <a th:href="'/employer/' + ${employer.id}" type="button" class="btn btn-primary">-->
<!--                        <i class="fa fa-eye" aria-hidden="true"></i>-->
<!--                    </a>-->
                    <a type="button" th:href="'/employer/' + ${employer.id}" class="btn btn-info">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    id = <span th:text="${employer.id}"></span><br>
                                    Are you sure ?
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <a th:href="'/employer/delete/' + ${employer.id}" class="btn btn-danger">delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>